#orders {
    background: $black;
    color: $white;
    font-family: $titleFont;

    .container {
        .row {
            .col-lg-8 {
                form {
                    margin-top: 100px;

                    table {
                        font-family: $titleFont;
                        color: $white;
                        margin-left: -20px;
                        text-align: center;
                        width: 100%;

                        thead {
                            tr {
                                background: #252c30;

                                th {
                                    font-weight: 700;
                                    padding: 10px 0px;
                                    line-height: 1.5em;
                                    font-family: $textFont;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    padding-top: 35px;
                                    border-bottom: 2px solid white;
                                    padding-bottom: 40px;

                                    a {
                                        text-decoration: none;
                                        color: $white;

                                        img {
                                            width: 80px;
                                            height: 80px;
                                            border-radius: 50%;
                                            margin-left: 32px;
                                        }
                                    }

                                    .quantity {
                                        width: 38px;
                                        background: transparent;
                                        border: 2px solid white;
                                        color: white;
                                        text-align: center;

                                        &:focus {
                                            outline: none;
                                        }
                                    }

                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }
                                }

                                .name {
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                            }
                        }
                    }
                }
            }

            .col-lg-4 {
                margin-top: 100px;

                .search {
                    margin-bottom: 30px;

                    input {
                        background: transparent;
                        border: 2px solid #252c30;
                        width: 100%;
                        text-transform: uppercase;
                        height: 40px;
                        font-size: 14px;
                        letter-spacing: 2px;
                        padding-left: 20px;
                        color: $white;

                        &::placeholder {
                            color: $white;
                        }

                        &:focus {
                            outline: unset;
                        }
                    }

                    i {
                        position: absolute;
                        top: 13px;
                        right: 35px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 772px) {
    #orders {
        .container {
            .col-lg-8 {
                form {
                    .productTable {
                        margin-left: 0px !important;
                        thead {
                            tr {
                                th {
                                    font-size: 14px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #orders {
        .container {
            .col-lg-8 {
                form {
                    .productTable {
                        margin-left: 0px !important;
                        thead {
                            tr {
                                th {
                                    font-size: 14px;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
