USE [DB_A67172_VincentDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accordions]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accordions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Text] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Accordions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Filial] [nvarchar](100) NULL,
	[Street] [nvarchar](500) NULL,
	[Phone] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Weekday] [nvarchar](max) NULL,
	[Weekend] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Map] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.BlogCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NULL,
	[Date] [datetime] NOT NULL,
	[Author] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
	[Text] [ntext] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[BlogCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galeries]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Galeries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstaFeeds]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstaFeeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.InstaFeeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategories]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MenuCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [ntext] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[Dimentions] [nvarchar](max) NULL,
	[menuCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[BlogId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[MenuId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Requests] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Reviews] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[User_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeaderLogo] [nvarchar](max) NULL,
	[FooterLogo] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[MasterCard] [nvarchar](max) NULL,
	[Visa] [nvarchar](max) NULL,
	[Weekday] [nvarchar](max) NULL,
	[Weekend] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[EstablishDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Subtitle] [nvarchar](1000) NULL,
	[Description] [nvarchar](2000) NULL,
	[Type] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribes]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Subscribes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Surname] [nvarchar](200) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[PositionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](200) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeAreVincents]    Script Date: 9/10/2020 4:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeAreVincents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[SubTitle] [nvarchar](max) NULL,
	[Text] [ntext] NULL,
	[Image1] [nvarchar](max) NULL,
	[Image2] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WeAreVincents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accordions] ON 

SET IDENTITY_INSERT [dbo].[Accordions] OFF
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Filial], [Street], [Phone], [Email], [Weekday], [Weekend], [Image], [Map], [CreatedDate]) VALUES (3, N'QUEENS', N'Hillside Av/162 St, Queens, NY, Queens, New York 11432, USA', 1234567, N'queens@vincent.com', N'Monday – Friday from 8:00 am to 11:30 pm', N'Weekends from 9:00 am to 11:00 pm', N'15082020225127084img_5.jpg', N'https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24203.658780655504!2d-74.24668084999999!3d40.6859241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1597517431369!5m2!1sen!2s', CAST(N'2020-08-15T22:47:28.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Surname], [Username], [Password], [Email], [Image], [CreatedDate]) VALUES (1, N'Ziba', N'Gasimova', N'Gasimova', N'ACEAhTbXilDAf0r5N3LcmSL4NlNNbwiNJKvviv9U0iwTVVaCHKjThD1f5rQmmi80ew==', N'zqasimova93@gmail.com', N'19082020124706828photofb.jpg', CAST(N'2020-08-09T21:42:14.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

INSERT [dbo].[BlogCategories] ([Id], [Name]) VALUES (1, N'Food')
INSERT [dbo].[BlogCategories] ([Id], [Name]) VALUES (2, N'Inspiration')
INSERT [dbo].[BlogCategories] ([Id], [Name]) VALUES (3, N'LifeStyle')
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Galeries] ON 

INSERT [dbo].[Galeries] ([Id], [Image], [CreatedDate]) VALUES (3, N'15082020223733655gal_1.jpg', CAST(N'2020-08-15T22:37:23.000' AS DateTime))
INSERT [dbo].[Galeries] ([Id], [Image], [CreatedDate]) VALUES (4, N'15082020223746950gal_2.jpg', CAST(N'2020-08-15T22:37:35.000' AS DateTime))
INSERT [dbo].[Galeries] ([Id], [Image], [CreatedDate]) VALUES (5, N'15082020223758751gal_3.jpg', CAST(N'2020-08-15T22:37:48.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Galeries] OFF
GO
SET IDENTITY_INSERT [dbo].[InstaFeeds] ON 

INSERT [dbo].[InstaFeeds] ([Id], [Link], [Image], [CreatedDate]) VALUES (3, N'https://www.instagram.com/accounts/onetap/?next=%2F', N'16082020223227224dessert7.png', CAST(N'2020-08-15T22:28:47.000' AS DateTime))
INSERT [dbo].[InstaFeeds] ([Id], [Link], [Image], [CreatedDate]) VALUES (4, N'https://www.instagram.com/accounts/onetap/?next=%2F', N'16082020223154426burger7.png', CAST(N'2020-08-15T22:34:45.000' AS DateTime))
INSERT [dbo].[InstaFeeds] ([Id], [Link], [Image], [CreatedDate]) VALUES (5, N'https://www.instagram.com/accounts/onetap/?next=%2F', N'16082020223141543dessert5.png', CAST(N'2020-08-15T22:35:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[InstaFeeds] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCategories] ON 

INSERT [dbo].[MenuCategories] ([Id], [Name]) VALUES (3, N'Burgers')
INSERT [dbo].[MenuCategories] ([Id], [Name]) VALUES (4, N'Desserts')
INSERT [dbo].[MenuCategories] ([Id], [Name]) VALUES (5, N'Drinks')
SET IDENTITY_INSERT [dbo].[MenuCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Image], [Description], [Price], [Weight], [Dimentions], [menuCategoryId]) VALUES (15, N'Chicken Ranch', N'16082020105027024menu8.gif', N'Chicken Poppers, Parmesan, Fresh Mashrooms', CAST(2.60 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), N'24 × 24 × 5 cm', 7)
INSERT [dbo].[Menus] ([Id], [Name], [Image], [Description], [Price], [Weight], [Dimentions], [menuCategoryId]) VALUES (16, N'Mexican', N'16082020105305916menu7.gif', N'Classic marinara sauce, authentic old-world pepperoni', CAST(3.50 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), N'24 × 24 × 3 cm', 7)
INSERT [dbo].[Menus] ([Id], [Name], [Image], [Description], [Price], [Weight], [Dimentions], [menuCategoryId]) VALUES (17, N'All The Meats', N'16082020110308802menu6.gif', N'Pepperoni, Italian Sausage, Beef, Ham, Mozzarella', CAST(2.90 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'20 × 20 × 5 cm', 7)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Comment], [CreatedDate], [BlogId], [UserId]) VALUES (44, N'thank you', CAST(N'2020-08-23T10:43:03.047' AS DateTime), 7, 2)
INSERT [dbo].[Messages] ([Id], [Comment], [CreatedDate], [BlogId], [UserId]) VALUES (45, N'THis blog is so Useful', CAST(N'2020-09-10T03:00:00.297' AS DateTime), 5, 40)
INSERT [dbo].[Messages] ([Id], [Comment], [CreatedDate], [BlogId], [UserId]) VALUES (46, N'There is a lot of useful information', CAST(N'2020-09-10T03:04:03.183' AS DateTime), 7, 40)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Quantity], [Price], [CreatedDate], [MenuId], [UserId]) VALUES (39, 1, CAST(3.20 AS Decimal(18, 2)), CAST(N'2020-09-03T10:22:56.913' AS DateTime), 18, 34)
INSERT [dbo].[Orders] ([Id], [Quantity], [Price], [CreatedDate], [MenuId], [UserId]) VALUES (40, 1, CAST(3.20 AS Decimal(18, 2)), CAST(N'2020-09-03T10:24:29.807' AS DateTime), 18, 35)
INSERT [dbo].[Orders] ([Id], [Quantity], [Price], [CreatedDate], [MenuId], [UserId]) VALUES (41, 1, CAST(3.20 AS Decimal(18, 2)), CAST(N'2020-09-03T10:27:03.273' AS DateTime), 18, 36)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([Id], [Name]) VALUES (4, N'Barmen')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (5, N'Waitress')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (6, N'House Chef')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [Name], [Phone], [Count], [Date], [Requests], [CreatedDate]) VALUES (1, N'Ziba', 559777654, 3, CAST(N'2020-08-24T15:02:00.000' AS DateTime), N'bsjajasj', CAST(N'2020-08-21T15:03:05.240' AS DateTime))
INSERT [dbo].[Reservations] ([Id], [Name], [Phone], [Count], [Date], [Requests], [CreatedDate]) VALUES (2, N'aynur', 887766655, 5, CAST(N'2020-08-27T15:05:00.000' AS DateTime), N'jghabskan', CAST(N'2020-08-21T15:06:14.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [Name], [Surname], [Position], [Reviews], [Image], [CreatedDate], [User_Id]) VALUES (7, N' SAMANTHA', N'GREENBERG', N'Artist, Boston', N'The pizza is delicious! The crust is thin and crispy, great sauce, and awesome cheese blend. And it makes a cute cheap date!', N'15082020214518794testimonial_2.jpg', CAST(N'2020-08-15T21:44:35.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([Id], [HeaderLogo], [FooterLogo], [Facebook], [Instagram], [Twitter], [MasterCard], [Visa], [Weekday], [Weekend], [Phone], [EstablishDate]) VALUES (3, N'06092020183702044logo.png', N'06092020183702045logo_footer.png', N'https://www.facebook.com/?sk=welcome', N'https://www.instagram.com/accounts/onetap/?next=%2Faccounts%2Fonetap%2F%3Fnext%3D%252F', N'https://twitter.com/home', N'06092020183702045footerLogoMastercard.jpg', N'06092020183702045visaLogo.png', N'Mon - Fri: 08am - 10pm', N'Sat - Sun: 08am - 12am', 122556788, CAST(N'2020-08-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [Description], [Type], [Image]) VALUES (3, N'VINCENT', N'Italian Pizza With Cherry Tomatoes and Green Basil', N'EMPTY', N'first', N'15082020213550620sale4.gif')
INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [Description], [Type], [Image]) VALUES (4, N'VINCENT PIZZA', N'Making People Happy', N'Italian Pizza With Cherry Tomatoes and Green Basil', N'second', N'15082020213720537list2.gif')
INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [Description], [Type], [Image]) VALUES (5, N'Vincent Pizza. ', N'Making People Happy', N'Italian Pizza With Cherry Tomatoes and Green Basil', N'third', N'15082020213803907slide_2.jpg')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscribes] ON 

INSERT [dbo].[Subscribes] ([Id], [Email], [CreatedDate]) VALUES (3, N'zqasimova93@gmail.com', CAST(N'2022-06-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Subscribes] ([Id], [Email], [CreatedDate]) VALUES (36, NULL, CAST(N'2020-08-13T23:16:58.237' AS DateTime))
INSERT [dbo].[Subscribes] ([Id], [Email], [CreatedDate]) VALUES (37, N'gasimova@gmail.com', CAST(N'2020-09-07T20:26:19.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subscribes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name]) VALUES (2, N'pizza')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (3, N'drinks')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (4, N' italianfood')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [Name], [Surname], [Facebook], [Instagram], [Twitter], [Image], [PositionId]) VALUES (15, N'JOHN ', N'WILLIAMS', N'https://www.facebook.com/home.php?ref=wizard', N'https://www.instagram.com/', N'https://www.instagram.com/', N'16082020093942851team1.jpg', 6)
INSERT [dbo].[Teams] ([Id], [Name], [Surname], [Facebook], [Instagram], [Twitter], [Image], [PositionId]) VALUES (16, N'Sara', N'Welch', N'https://www.facebook.com/home.php?ref=wizard', N'https://www.instagram.com/accounts/onetap/?next=%2F', N'https://www.instagram.com/accounts/onetap/?next=%2F', N'16082020094027694team2.jpg', 5)
INSERT [dbo].[Teams] ([Id], [Name], [Surname], [Facebook], [Instagram], [Twitter], [Image], [PositionId]) VALUES (17, N'Edward', N'Grey', N'https://www.facebook.com/home.php?ref=wizard', N'https://www.instagram.com/accounts/onetap/?next=%2F', N'https://www.instagram.com/accounts/onetap/?next=%2F', N'16082020094105249team3.jpg', 4)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Password], [Phone], [Email], [Address], [CreatedDate]) VALUES (2, N'Ziba', N'Gasimova', N'Gasimova', N'AGuUkuoYG3khSnzj7ExPxWiDIAOqcHgWJET/x3Xw9pH112T21XPASAPMQJ/tAuk/IA==', 382637268, N'zqasimova93@gmail.com', N'bakuknj', CAST(N'2020-08-11T16:25:30.713' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Password], [Phone], [Email], [Address], [CreatedDate]) VALUES (33, N'dhsdbh', N'ds dns ', N'dhsdbh', NULL, 46376473, N'dshdg@gmail.com', N' sndnsbds', CAST(N'2020-09-03T10:19:38.723' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Password], [Phone], [Email], [Address], [CreatedDate]) VALUES (34, N'Yusif', N'Valiyev', N'Yusif', NULL, 0, N'yusif@gmail.com', N'Baku', CAST(N'2020-09-03T10:22:56.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WeAreVincents] ON 

SET IDENTITY_INSERT [dbo].[WeAreVincents] OFF
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [menuCategoryId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.BlogCategories_BlogCategoryId] FOREIGN KEY([BlogCategoryId])
REFERENCES [dbo].[BlogCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.BlogCategories_BlogCategoryId]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.MenuCategories_menuCategoryId] FOREIGN KEY([menuCategoryId])
REFERENCES [dbo].[MenuCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.MenuCategories_menuCategoryId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Blogs_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Blogs_BlogId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Menus_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Menus_MenuId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teams_dbo.Positions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_dbo.Teams_dbo.Positions_PositionId]
GO
