
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="vincentTitle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="innerText">
                        <h1>standart post</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="singleBlog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="leftSideBar">
                        <a href="#">
                            <p class="category">Food</p>
                        </a>
                        <p class="date">February 24, 2017</p>
                        <a href="#">
                            <p class="author">By Don Pixel</p>
                        </a>
                        <p class="commentCount">3 Comments</p>
                        <img src="~/Public/img/detail1.jpg" alt="">
                        <p class="article">
                            What’s our purpose at Vincent? Moments of Excitement. All made possible
                            by our flavor, innovation and, most importantly, by unlocking potential in our team
                            members.
                        </p>
                        <p class="article">
                            With more than 50 years of experience under our belts, we understand how
                            to best serve our customers through tried and true service principles. Instead of
                            following trends, we set them. We create food we’re proud to serve and deliver it fast,
                            with a smile. No matter where you find us, we’re making sure each meal our customers
                            enjoy is delicious and one-of-a-kind.
                        </p>
                        <p class="article">
                            Sivananda was born Kuppuswamy in Pattamadai near Tirunelveli in Tamil
                            Nadu, India, as the third son to his parents on 8 September 1887. As a child he was very
                            active and promising in academics and gymnastics. He attended medical school in Tanjore,
                            where he excelled.
                        </p>
                        <p class="article">
                            Ambrosia during this period. Upon graduation he practised medicine and
                            worked as a doctor in Malaya for ten years, with a reputation for providing free
                            treatment to poor patients.
                        </p>
                    </div>
                    <div class="tags">
                        <span>Tags :</span>
                        <a href="#">Blog ,</a>
                        <a href="#">LifeStyle ,</a>
                        <a href="#">Pizza ,</a>
                        <a href="#">Vincent</a>
                    </div>
                    <div class="sharePosts">
                        <span>Share this Post</span>
                        <a class="facebook share-to" data-sns="facebook" href="#">Facebook</a>
                        <a class="twitter share-to" data-sns="twitter" href="#">Twitter</a>
                        <a class="pinterest share-to" data-sns="pinterest" href="#">Pinterest</a>
                    </div>
                    <div class="items">
                        <a href="#">
                            <h4>Chat post</h4>
                        </a>
                        <a href="#">
                            <p class="category">People</p>
                        </a>
                        <p class="date">February 24, 2017</p> <br>
                        <a href="#">
                            <p class="author">By Don Pixel</p>
                        </a>
                        <p class="commentCount">No Comments</p>
                        <a class="postImg" href="#"><img src="~/Public/img/gal_8.jpg" alt=""></a>
                    </div>
                    <div class="items">
                        <a href="#">
                            <h4>Audio post</h4>
                        </a>
                        <a href="#">
                            <p class="category">LifeStle</p>
                        </a>
                        <p class="date">February 24, 2017</p> <br>
                        <a href="#">
                            <p class="author">By Don Pixel</p>
                        </a>
                        <p class="commentCount">No Comments</p>
                        <a class="postImg" href="#"><img src="~/Public/img/gal_6.jpg" alt=""></a>
                    </div>
                    <div class="comments">
                        <h5>Comments on This Post</h5>
                        <div class="innerComment">
                            <div class="left">
                                <img src="~/Public/img/comment1.png" alt="">
                                <h6>Samantha Grenberg</h6>
                            </div>
                            <p>
                                The pizza is delicious! The crust is thin and crispy, great sauce, and awesome cheese
                                blend. And it makes a cute cheap date!
                            </p>
                        </div>
                        <div class="innerComment">
                            <div class="left">
                                <img src="~/Public/img/comment2.jpeg" alt="">
                                <h6>Adam Jefferson</h6>
                            </div>
                            <p>
                                Vincent was one of the first restaurants I discovered upon moving to New York last
                                summer, and it remains a favorite. Despite its sizable menu full of pastas,
                                sandwiches, and pizzas, I almost always get the same thing – the Vincent pizza.
                                It\’s made with Ricotta & Marinara sauces, spiced with oregano, and topped with
                                eggplant, red onions, basil, Pecorino Romano & Mozzarella. It really is one of the
                                best pizzas I\’ve ever had – and I eat a lot of pizza.
                            </p>
                        </div>
                        <div class="innerComment">
                            <div class="left">
                                <img src="~/Public/img/comment3.png" alt="">
                                <h6>pixel-mafia</h6>
                            </div>
                            <p>Thanks guys</p>
                        </div>
                    </div>
                    <div class="leaveMessage">
                        <h5>Leave a Reply </h5>
                        <form action="#">
                            <input type="text" class="message" placeholder="Your message *">
                            <input type="text" class="name" placeholder="Your name *">
                            <input type="text" class="email" placeholder="your email *">
                            <button class="send">Send message</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="search">
                        <input type="text" placeholder="search">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="posts">
                        <h6>Featured Posts</h6>
                        <div class="post">
                            <img src="~/Public/img/gal_1.jpg" alt="">
                            <a href="#">
                                <h4>healthy Food for healthy body</h4>
                            </a>
                            <span>April 6, 2017</span>
                        </div>
                        <div class="post">
                            <img src="~/Public/img/gal_2.jpg" alt="">
                            <a href="#">
                                <h4>food design trends 2016</h4>
                            </a>
                            <span>April 6, 2017</span>
                        </div>
                    </div>
                    <div class="categories">
                        <h6>Blog Categories</h6>
                        <ul>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">LifeStyle</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="#">Recipies</a></li>
                            <li><a href="#">World</a></li>
                        </ul>
                    </div>
                    <div class="recentPosts">
                        <h6>Recent Posts</h6>
                        <ul>
                            <li><a href="#">Healthy Food for healthy body</a></li>
                            <li><a href="#">Food design trends 2016</a></li>
                            <li><a href="#">3 Ingredient Fettuccine Alfredo</a></li>
                            <li><a href="#">Kitchen Essentials Giveaway!</a></li>
                            <li><a href="#">Healsy Food for healthy body</a></li>
                        </ul>
                    </div>
                    <div class="rightSideTags">
                        <h6>Tags</h6>
                        <a href="#">Blog</a>
                        <a href="#">Food</a>
                        <a href="#">Lifestyle</a>
                        <a href="#">Margherita</a>
                        <a href="#">Pizzaeria</a>
                        <a href="#">Pizza</a>
                        <a href="#">Restaurant</a>
                        <a href="#">Vincent</a>
                    </div>
                    <div class="instaFeed">
                        <h6>Instafeed</h6>
                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog2.jpg" alt="">
                        </a>

                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog1.jpg" alt="">
                        </a>

                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog8.jpg" alt="">
                        </a>

                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog7.jpg" alt="">
                        </a>

                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog6.jpg" alt="">
                        </a>

                        <a href="https://www.instagram.com/vrestaurant2020/">
                            <img src="~/Public/img/blog5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <section id="goTopBtn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="goTop">
                        <i class="fas fa-chevron-up animate heartBeat"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

