#team {
    background: $black;
    font-family: $titleFont;
    color: $white;
    .container {
        .row {
            padding-bottom:100px;
            .col-lg-4 {
                .teamInfo {
                    margin-top: 100px;
                    text-align: center;
                    text-transform: uppercase;
                    position: relative;
                    .teamImage {
                        width:100%;
                        .overlay {
                            background: $orange;
                            opacity: 0.8;
                            background: #ffc851;
                            position: absolute;
                            display: none;
                            width: 100%;
                            height: 350px !important;
                        }
                        .socialLinks {
                            position: absolute;
                            top: 35%;
                            left: 41%;
                            display: none;

                            i {
                                margin-right: 15px;
                                cursor: pointer;
                                color: $black;
                                font-size: 25px;
                                transition: all 0.3s;
                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                        img {
                            max-width: 100%;
                            transition: all 0.7s;
                            cursor: pointer;
                        }
                        &:hover {
                            .overlay,
                            .socialLinks {
                                display: block;
                                transition: all 0.7s;
                            }
                        }
                    }
                    .info {
                        h5 {
                            margin-top: 30px;
                            letter-spacing: 3px;
                            font-weight: 700;
                        }
                        p {
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
        
    }
}

#ourPhilosophy {
    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        .row {
            margin: 0px 0px !important;
            .col-lg-4 {
                padding: 0px 0px !important;
                .leftSide {
                    background-image: url("../img/teamBack1.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    // width: 421px;
                    height: 700px;
                }
                .rightSide {
                    background-image: url("../img/teamBack2.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    // width: 421px;
                    height: 700px;
                }
                .middle {
                    background: $sideBarBackColor;
                    color: $white;
                    font-family: $titleFont;
                    text-align: center;
                    padding-bottom: 59px;
                    h2 {
                        padding-top: 50px;
                        text-transform: uppercase;
                        letter-spacing: 8px;
                        padding-left: 94px;
                        padding-right: 90px;
                        margin-bottom: 30px;
                    }
                    h6 {
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        padding: 0px 93px;
                        line-height: 32px;
                    }
                    img {
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                    p {
                        font-family: $textFont;
                        font-weight: 100;
                        padding: 0px 71px;
                    }
                }
            }
        }
    }
}

.active {
    h5 {
        border-color: $orange !important;
        color: $orange;
    }
}
#accordionPart {
    background: $black;
    color: $white;
    font-family: $titleFont;

    .container {
        .row {
            .col-lg-8 {
                .customAccordion {
                    padding-top: 100px;
                    padding-bottom: 50px;

                    .accordion {
                        .card {
                            background: transparent;
                            margin-bottom: 30px;
                            transition: all 0.3s;

                            &:hover {
                                border-color: $black;

                                .card-header {
                                    border-color: $orange;
                                }

                                i {
                                    color: $orange;
                                }

                                button {
                                    color: $orange;
                                }
                            }

                            .card-header {
                                padding: 0px !important;
                                border: 2px solid $borderColor;

                                .btn {
                                    text-decoration: none;
                                    color: white;
                                    font-size: 14px;
                                    line-height: 26px;
                                    letter-spacing: 3px;
                                    text-transform: uppercase;
                                    overflow: hidden;

                                    &:hover {
                                        color: $orange;
                                    }

                                    i {
                                        position: absolute;
                                        right: 25px;
                                        top: 16px;
                                        font-size: 17px;
                                    }
                                }
                            }

                            .collapse {
                                .card-body {
                                    border: none;

                                    p {
                                        font-family: $textFont;
                                        font-weight: 100;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .col-lg-4 {
                .essentials {
                    background-image: url("../img/back_4.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-family: $titleFont;
                    color: $black;
                    text-align: center;
                    margin-top: 100px;
                    padding-bottom: 70px;
                    padding-top: 40px;
                    margin-left: 30px;
                    margin-bottom: 50px;

                    h6 {
                        padding-top: 30px;
                        letter-spacing: 3px;
                        padding-bottom: 20px;
                    }

                    h5 {
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 3px;
                        line-height: 30px;
                        opacity: 0.8;
                        padding: 0px 45px;
                    }

                    p {
                        font-family: $textFont;
                        font-weight: 100;
                        font-size: 14px;
                        padding: 10px 43px;
                        line-height: 32px;
                    }

                    a {
                        @include buttonWhite;
                        border-color: $black;
                        color: $black;
                        margin-top: 16px;

                        &:hover {
                            background: $black;
                            color: $white;
                            border-color: $black;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #team {
        padding-bottom: 50px;
        .container {
            .row {
                .col-lg-4 {
                    .teamInfo {
                        margin-bottom: 0px;
                        .teamImage {
                            .overlay {
                                height: 210px !important;
                            }
                            .socialLinks {
                                top: 22%;
                                left: 33%;

                                i {
                                    font-size: 18px !important;
                                    margin-top: 30px !important;
                                }
                            }
                        }
                        .info {
                            h5 {
                                font-size: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    #ourPhilosophy {
        .container-fluid {
            .row {
                .col-lg-4 {
                    .leftSide {
                        height: 100%;
                    }
                    .rightSide {
                        height: 100%;
                    }
                    .middle {
                        h2 {
                            padding-bottom: 30px !important;
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        h6 {
                            padding: 0px 30px;
                        }
                        p {
                            font-size: 15px;
                            padding: 0px 35px;
                        }
                        img {
                            padding-bottom: 60px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #team {
        padding-bottom: 50px;
        .container {
            .row {
                .col-sm-4 {
                    .teamInfo {
                        width: 100%;
                        .teamImage {
                            .overlay {
                                height: 150px !important;
                            }
                            .socialLinks {
                                top: 15%;
                                left: 24%;
                                i {
                                }
                            }
                        }
                        .info {
                            h5 {
                                font-size: 15px !important;
                            }
                            p{
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    #ourPhilosophy {
        .container-fluid {
            .row {
                .col-md-4 {
                    .leftSide {
                        height: 300px;
                        width: 100% !important;
                    }
                    .rightSide {
                        height: 300px;
                        width: 100% !important;
                    }
                    .middle {
                        padding-bottom: 34px !important;
                        h2 {
                            padding-left: 0px !important;
                            padding-right: 0px !important;
                            margin: 0px 30px 15px 30px !important;
                            font-size: 24px !important;
                        }
                        h6 {
                            padding: 0px 0px !important;
                            margin: 0px 25px 0px 25px !important;
                        }
                        p {
                            padding: 0px 0px !important;
                            margin: 0px 30px 0px 30px !important;
                        }
                        img {
                            width: 140px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #team {
        .container {
            .row {
                .col-lg-4 {
                    .teamInfo {
                        margin-top: 0px !important;
                        width: 50%;
                        margin: auto;

                        .teamImage {
                            width: 100%;
                            position: relative;
                            .overlay {
                              max-width:100%;
                              height:100% !important;
                            }

                            img {
                                display: inline-block;
                            }

                            .socialLinks {
                                position: absolute;
                                top: 25% !important;
                                left: 33% !important;
                                display: none;

                                i {
                                    font-size: 19px !important;
                                    margin-right: 10px !important;
                                }
                            }
                        }

                        .info {
                            h5 {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }

            .customRow {
                padding-top: 100px;
            }
        }
    }
    #ourPhilosophy {
        .container-fluid {
            .row {
                .col-sm-12 {
                    .leftSide {
                        height: 300px !important;
                        width: 100% !important;
                    }
                    .rightSide {
                        width: 100% !important;
                        height: 300px !important;
                    }
                }
            }
        }
    }
}
